# Omitir dependencias de Node
**/node_modules/
node_modules/

# Ignorar carpetas de distribución/compilación de Vue
**/dev-dist/
**/dist/

# Omitir variables de entorno (Seguridad)
.env

# Archivos de logs
npm-debug.log*
yarn-error.log*